/*body{font-family:'Microsoft Yahei';font-size:12px;color:#666;}*/
/*html,body{height:100%}*/

.s_head_title{
     margin: auto;
     width:200px;
     float: left;
    background: #1a3564 url('../images/s_head.jpg') repeat-x;
     /*background: #1B3663  ;*/
    opacity: 0.9;
}


.s_head {
    /*width:100%;*/
    width: auto;
    height: 65px;
    /*background: #5a5aad url("{% static 'images/s_head.jpg' %}");*/
    background: #142c55 url('../images/s_head.jpg') no-repeat ;
    margin-left: 200px;
    opacity: 0.9;
}



.s_head_title span{
 height: 65px;
 text-align: center;  line-height: 65px;
 color: white;
 font-size: 18px;  font-weight: normal;
 margin-left: 20px;
}

.middle_head{
    background: white;
    /*width: 1400px; @@@ */
    width:100%;
    height: 100%;
    margin: 0 auto;

}

.middle_head_left {
/*background: #7373b9 url("{% static 'images/head_left.jpg' %}");*/
    background:#7373b9  url('../images/head_left.jpg') repeat;
    /*background:#7373b9    ;*/
    width: 200px;
    /*width: 20%;*/
    height: 100% ;
    opacity: 0.9;
    float: left;
    position: fixed;
}


.middle_head_left li {
/*height: 60px;  需注释掉, 若固定则会影响li下面的子集li   ##! */
width: 100%;
    border: 1px solid white;
border-top: 0;  border-left: 0;  border-right: 0;
list-style: none;     padding: 0;
/*列表前面的原点样式*/
}


.middle_head_left li a   {
    font-size: 16px;
/*标签高度,  及文字高度*,  a标签设置高度可以把上面的li撑起来*/
    height: 60px;
    line-height: 60px;
/*text-align: center; 文字水平, 及文字缩进  */
    text-decoration: None;
    text-indent: 10px;
/*color:black;*/
    color: white;
    display: block;
}


.middle_head_left .cnt1{
font-size: 14px;
/*background-color: #9999cc;*/
background-color: #6c8bc4;
text-indent: 30px;
}

.middle_head_left a:hover{ background:#9d9d9d;  color:white; }

.middle_head_left li ul  { display:none; padding: 0; margin: 0; }

/*右侧栏*/
.middle_head_right {
    /*float: left;*/
    margin-left: 200px;
    /*width:100%;*/
    width: auto;
    height: 100%;
}

.middle_head_right table { width: 100%; font-size: 14px; padding: 0; border: 1px white}

.middle_head_right .s_tr1 th{
        /*width: 100%;     font-size: 20px;*/
        background: #4f81bd;
        color: white;
}

.middle_head_right .s_tr2 td {
        text-align: center;
        }

/*右侧栏上方*/

.middle_head_right_up{
    width: auto;
    background: #eeeeee;
    height: 30px;
    padding-top: 2px;
    margin-left: 200px;
    }

.down_btn {
    margin-top: 5px;
}
/*.form_pro {float:right;  }*/
.form_pro select {width: 100px; height: 26px; }

.pagenation{
position: absolute;
left:800px;
top:660px;
}


.pagenation{
    height:32px;
    text-align:center;
    font-size:0;
    margin:30px auto;
}

.pagenation a{
/*{#    display:inline-block;#}*/
border:1px solid #d2d2d2;
background-color:#f8f6f7;
font-size:12px;
padding:7px 10px;
color:#666;
margin:5px
}

.pagenation .active{ color:red}

.dis_none{ display: None}