{% extends 'sqyc_bi/base_in_index.html' %}
{#{% load staticfiles %}#}

{#<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>#}



{% block middle_head_right_up %}
        <!--条件侧栏上部-->
        <div class="middle_head_right_up">
            自动化数据列表下载：
        </div>
{% endblock middle_head_right_up %}



{#  图表区域   #}
{% block middle_head_right %}

    <div class="middle_head_right">
        <ol>
            <li class="li_list" >
            <a href="" > 0风控数据结果下载 </a> &nbsp;
           </li>

            <li class="li_list" >
                <a href=""> 1新增完单用户明细（拉新及非拉新）</a>
            </li>

             <li class="li_list" >
                <a href=""> 2七日阶段未完单乘客明细</a>
             </li>

             <li class="li_list" >
                 <a href=""> 3十五日阶段未完单乘客明细</a>
            </li>

            <li class="li_list" >
                 <a href="#"> 4 分公司特殊日报</a>
            </li>

        </ol>

    </div>

{% endblock middle_head_right%}


{#// ----------------#}
{% block middle_down %}


{% endblock middle_down %}











