{% extends 'sqyc_bi/base_in_index.html' %}
{% load staticfiles %}

<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>


{% block middle_head_right_up %}
        <!--条件侧栏上部day report-->
                <div class="middle_head_right_up">

                    <form action="/company_day/1/" class="form_pro" method="get"  >

                        城 市id: <input type="text" value="{{ city_id }}"  name = 'para1'>  &nbsp
                        公 司: <input type="text"  value="{{ company_name }}" name='para2'>   &nbsp
                        日 期: <input type="date" value="{{ t_d }}" name="t_d">   &nbsp

                        <input type="submit" value="查询"  name="sub_buton">  &nbsp
                        <input type="submit" value="下载所有数据" name="sub_buton">
{#                        <a href="">下载数据</a>#}
                    </form>

                </div>
{% endblock middle_head_right_up %}


{#  图表区域   #}
{% block middle_head_right %}

    <div class="middle_head_right">
        <table border="1" >
                  <tr class="s_tr1">
                        <th>日期</th>
                        <th>城市id</th>
                        <th>城市</th>
                        <th>司机id</th>
                        <th>司机姓名</th>

                        <th>司机电话</th>
                        <th>车牌号</th>
                        <th>公司名称</th>
                        <th>完单数量</th>
                        <th>在线分钟</th>
                        <th>当日奖励</th>
                    </tr>

                 {% for order in order_list %}
                    <tr class='s_tr2'>
                        <td>{{ order.t_date }}</td>
                        <td>{{ order.city_id }}</td>
                        <td>{{ order.city }}</td>
                        <td>{{ order.driver_id }}</td>
                        <td>{{ order.driver_name }}</td>
                        <td>{{ order.driver_phone }}</td>

                        <td>{{ order.plate_number }}</td>
                        <td>{{ order.taxi_company_name }}</td>
                        <td>{{ order.com_cnt }}</td>
                        <td>{{ order.total_online_minute }}</td>
                        <td>{{ order.reward_punish_money }}</td>
                    </tr>
                {% endfor %}
         </table>
    </div>

{% endblock %}


{% block middle_down %}
    <div class="pagenation">

        {% if order_list.has_previous %}
{#            当前页数-1#}
            <a href="/company_day/{{order_list.number|add:-1}}/?para1={{ city_id }}&para2={{ company_name }}&t_d={{ t_d }}">上一页</a>
        {% endif %}

         {% for pindex in pages %}
{#             若页码跟当前页内容的页数一样#}
             {% if pindex == order_list.number %}
                <a href="/company_day/{{pindex}}/?para1={{city_id}}&para2={{company_name}}&t_d={{t_d}}"  class="active"> {{pindex}} </a>
             {% else %}
                 <a href="/company_day/{{ pindex }}/?para1={{ city_id }}&para2={{ company_name }}&t_d={{ t_d }}"  class=""> {{ pindex }} </a>
             {% endif %}
        {% endfor %}

        {% if order_list.has_next %}
            <a href="/company_day/{{ order_list.number|add:1 }}/?para1={{ city_id }}&para2={{ company_name }}&t_d={{ t_d }}"> 下一页 </a>
        {% endif %}

    </div>
{% endblock %}
























