{% load staticfiles %}

{#内部导航首页#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block  page_title %}
        <title>数据组内部平台</title>
    {% endblock page_title %}


    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <script src="{% static 'js/jquery-1.12.4.min.js'%}">  </script>

    {% block script_hl %}
    <script>
        $(function(){

            var $a1 = $('.level1');
            $('.level1').click(
                function(){
                    $(this).next().slideToggle();
                }
            ) ;

            $('.down_btn001').click(function () {
                $.ajx({
                    // 返回联系方式
                    url:'/connect/',
                    type:'GET',
                    dataType:'json',
                    success:function (data) {
                        alter('hi! 请检查您的权限！');
                    },
                    error:function (data) {
                        alter('获取失败！您可能无权限！')
                    }
                })
            });

        })
    </script>
    {% endblock script_hl %}
</head>


<body>

    <!--导航1-->
    <div class="s_head_title"> <span>首约Taxi数据组平台 </span> </div>
    <div  class="s_head"> </div>

    <!--侧边栏1-->
    <div class="middle_head">
        <div class="middle_head_left">
            {% if  '分公司数据查询'  in  request.session.privileges %}
                <li><a href="#" class="level1"> 分公司数据查询 </a>
                    <ul class="current">
                        <li> <a href="/Company_day_fr/" class="cnt1">公司日报数据</a> </li>
                        <li> <a href="/company_day_total_fr/" class="cnt1">公司汇总数据</a> </li>
                        <li> <a href="/city_total/" class="cnt1">各分公司透视</a> </li>
                        <!--<li>司机详情数据</li>-->
                    </ul>
                </li>
            {% else %}
                <div class="dis_none"> none </div>
            {% endif %}


            {% if '司机信息查询' in request.session.privileges %}
                <li>
                    <a href="#" class="level1"> 司机信息查询 </a>
                    <ul class="current">
                        <li> <a href="/other/test/" class="cnt1">接单司机数量</a> </li>
                        <li> <a href="/order_driver_num_fr/" class="cnt1">完单司机数量</a> </li>
                        <!--<li>司机详情数据</li>-->
                    </ul>
                </li>
            {% else %}
                <div class="dis_none"> none </div>
            {% endif %}


            {% if  '乘客信息查询' in request.session.privileges %}
                <li><a href="#" class="level1"> 乘客信息查询 </a>
                     <ul class="current">
                        <li> <a href="/other/test/" class="cnt1">新增完单乘客信息</a> </li>
                        <li> <a href="/other/test/" class="cnt1">下单乘客信息</a> </li>
                        <li> <a href="/other/test/" class="cnt1">乘客体验信息</a> </li>
                    </ul>
                </li>
            {% else %}
                <div class="dis_none"> none </div>
            {% endif %}


            {% if  '下载数据库文件' in request.session.privileges %}
                <li><a href="#" class="level1"> 运营应用查询 </a>
                    <ul class="current">
                        <li> <a href="/auto_check/" class="cnt1">便捷应用查询</a> </li>
                        <li> <a href="/handle_sqlt/" class="cnt1">SQL 任务窗口</a> </li>
                        <li> <a href="/look_reward/" class="cnt1">司机奖励查询</a> </li>
                        <!--<li>司机详情数据</li>-->
                    </ul>
                </li>
            {% else %}
                <div class="dis_none"> none </div>
            {% endif %}


            {% if  '订单数据' in request.session.privileges %}
                <li><a href="#" class="level1"> 订单数据 </a>
                     <ul class="current">
                        <li> <a href="/other/test/" class="cnt1">订单明细</a> </li>
                        <li> <a href="/other/test/" class="cnt1">拉新订单</a> </li>
                        <!--<li>司机详情数据</li>-->
                    </ul>
                </li>
            {% else %}
                <div class="dis_none"> none </div>
            {% endif %}

            {% if   '其它问题' in request.session.privileges %}
                <li><a href="#"  class="level1"> 其它问题 </a>
                    <ul class="current">
                        <li> <a href="/chart/show_map/" class="cnt1">订单分布地图</a> </li>
                        <li> <a href="/other/test/" class="cnt1">待定</a> </li>
                    </ul>
                </li>
            {% else %}
                <div class="dis_none"> none </div>
            {% endif %}
        </div>


        {% block middle_head_right_up %}
            <!--条件侧栏上部-->
            <div class="middle_head_right_up">
                <form action="" class="form_pro" method="get" >
                    司机姓名: <input type="text" value=""  name = ''>  &nbsp
                    司机电话: <input type="text"  value="" name=''>   &nbsp
                    开始日期: <input type="date" value="">   &nbsp
                    结束日期：<input type="datetime-local" value="">   &nbsp
                    <select name="pro_status" id="" >
                        <option value="pro1">问题1</option>
                        <option value="pro2">占比</option>
                        <option value="pro3">环比</option>
                    </select>  &nbsp

{#                    <input type="submit" value="查询">#}
                </form>
            </div>
        {% endblock middle_head_right_up %}


        {% block middle_head_right %}
            <div class="middle_head_right">
                <h1 style="color: red">
                    &nbsp;平台公告：
                </h1>

                <h1 style="color: goldenrod">
                    &nbsp;本平台仅限数据组内部使用!
                     &nbsp;请勿外传!
                    &nbsp;谢谢配合！
                </h1>

                <h1 style="color: #4f81bd"> &nbsp;<-请从左侧菜单栏选择您要查询的数据！</h1>

                <a href="#"> &nbsp; <img src="{%  static 'images/car_pic.gif' %}"> </a>

{#                <h2> &nbsp;如有问题：请及时联系yuweihong@01zhuanche.com</h2>#}

            </div>
        {% endblock middle_head_right %}


        {% block middle_down %}
{#           <div class="pagenation">#}
{#                <a href="#"><上一页</a>#}
{#                <a href="#" class="active">1</a>#}
{#                <a href="#">2</a>#}
{#                <a href="#">3</a>#}
{#                <a href="#">下一页></a>#}
{#            </div>#}
        {% endblock middle_down%}
    </div>

</body>


</html>
